@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header */
a {
  text-decoration: none;
  color: #e5e7eb;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 8px 32px;
  font-weight: 600;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 16px;
  padding: 0;
  gap: 16px;
}

/* Header/Footer */
.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f9faf8;
  background-color: #1f2937;
}

/* Footer Only */
.footer {
  justify-content: center;
  align-items: center;
}

/* Block 1 */
.block-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}

#logo-text {
  width: 500px;
  font-size: 48px;
  font-weight: 800;
  margin-top: 100px;
  margin-left: 200px;
  margin-bottom: 5px;
  color: #f9faf8;
  background-color: #1f2937;
}

#block-1-secondary {
  width: 450px;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 200px;
  color: #e5e7eb;
}

/* Block 2 */
.block-2 {
  background-color: #f9faf8;
}

.block-2-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

/* Block 3 */
.block-3 {
  background-color: #e5e7eb;
}
